<div class="about">
    <span><b>PronoPlayer</b> est une application de pronostic sur les différentes compétitions de League of Legends proposées par Riot Games.</span>
    <span>Licence : <a href="https://opensource.org/licenses/MIT">MIT License</a></span>
    <span><b>PronoPlayer</b> est fourni tel quel, sans assurance de fonctionnement et sans aucune garantie.</span>
    <span><b>PronoPlayer</b> utilise l'API publique de lolesports.com et n'est affilié en aucun cas à Riot Games ou aucun de ses partenaires.</span>
    <span>Tous les droits des données affichées reviennent à Riot Games.</span>
</div>