<div class="ranking" *ngIf="dataService.currentUser">
    <mat-form-field class="field">
        <mat-select [(value)]="group" (selectionChange)="changeGroup()">
            <mat-option *ngFor="let grp of groups" [value]="grp">{{grp.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="field" *ngIf="group && competition">
        <mat-select [(value)]="competition.id" (selectionChange)="changeCompetition()">
            <mat-option *ngFor="let comp of competitions" [value]="comp.id">
                {{comp.name}}
                {{comp.year}}
                {{comp.split}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="ranking" *ngIf="dataSource && sortedRankingWithUserData && sortedRankingWithUserData.length > 0 else noData">
        <table class="ranking-table" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="rank">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                    <img *ngIf="item.displayedRank === 1" class="medal" src="assets/images/gold-medal.svg"/>
                    <img *ngIf="item.displayedRank === 2" class="medal" src="assets/images/silver-medal.svg"/>
                    <img *ngIf="item.displayedRank === 3" class="medal" src="assets/images/bronze-medal.svg"/>
                    <span class="rank" [ngClass]="{'inside-medal': item.displayedRank < 4}">{{ item.displayedRank }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item" class="avatar-cell">
                    <span class="badge-span">
                        <ng-container *ngFor="let badge of item.user.badges">
                            <img class="badge" *ngIf="badge.active" [src]="badge.imageLink" [matTooltip]="badge.label"/>
                        </ng-container>
                    </span>
                    <img class="avatar" [src]="item.user.profileImageUrl"/>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Pseudo </th>
                <td mat-cell *matCellDef="let item"> {{ item.user.displayName }} </td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let item"> {{ item.score }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [ngClass]="{'show': dataSource && sortedRankingWithUserData && sortedRankingWithUserData.length > 0}" #paginator class="paginator" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
    <ng-template #noData><div *ngIf="!loading" class="no-data">Pas de résultas pour l'instant.</div></ng-template>
</div>