mat-spinner {
    margin: 20% auto;
}

.invisible {
    visibility: hidden;
}

.no-data {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    padding-top: 10vh;
}

.current-competition {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &.with-padding {
        padding-bottom: 5vh;
    }
}

.pronoday {
    scroll-margin-top: 100px;
}

.saving-indicator {
    position: fixed;
    z-index: 2;
}

@media(min-width: 600px) {
    .current-competition {
        padding-top: 80px;
    }
    .saving-indicator {
        top: 64px;
    }
    .selection {
        margin-top: 42px !important;
    }
    .prono-line {
        grid-template-columns: 1fr 0fr 1fr;
    }
    .date-score {
        margin: 0 3rem;
    }
    .wins {
        font-size: 2rem;
        font-weight: 500;
    }
    .coin {
        width: 100px;
    }
    .team-name {
        width: 5rem;
        line-height: 1rem;
    }
}
@media(max-width: 599px) {
    .current-competition {
        padding-top: 18%;
    }
    .saving-indicator {
        top: 56px;
    }
    .prono-line {
        grid-template-columns: repeat(3, 1fr);
        max-width: calc(100vw - 8px);
    }
    
    .wins {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .coin {
        width: 70px;
    }
}


.coin {
    margin-top: 1rem;
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}
.prono-line {
    display: grid;
    align-items: center;
    padding: .2rem 4px;
    
    &.smaller {
        height: 4em;
    }
    
    .date-score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .score-choice {
            width: 5em;
            text-align: center;
        }
    }
    
    .team-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        &.inverted {
            flex-direction: row-reverse;
        }
        
        .team {
            width: 40vw;
            max-width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: .3rem;
            border: 1px solid var(--team-border-color);
            border-radius: 12px;
            height: 4em;
            background-color: var(--bkg-color);

            .locked {
                opacity: 0.75;
            }
            
            &.bad-result {
                opacity: 0.6;
                background-color: var(--bad-result-color) !important;
            }
            
            &.best-of {
                width: 35vw;
            }
            
            &.pointer {
                cursor: pointer;
            }
            
            &.inverted {
                flex-direction: row-reverse;
            }
            
            &.won {
                background-color: var(--btn-won-color);
                border-radius: 12px;
            }
            
            &.lost {
                opacity: 0.6;
            }
            
            .team-logo {
                width: 3em;
                
                &.tbd {
                    filter: var(--img-filter);
                }
            }
            
            .with-padding {
                padding-left: 8px;
            }
            .records {
                padding: 0 .5em;
            }
        }
    }
}
.team-name {
    font-weight: bold;
    
    &.small {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .small-records {
            font-weight: normal;
        }
    }
}
.day-selection {
    display: flex;
    justify-content: center;
    padding: .4rem;
    
    .day-number {
        font-size: 1.5em;
    }
}
.selection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    margin-top: 9%;
    background-color: var(--bkg-color-transparent);
    border-radius: 0 0 20px 20px;
    z-index: 1;
    
    .week-arrow {
        transform: scale(2);
    }
    
    
    .week-number {
        white-space: nowrap; 
        overflow: hidden; 
        font-size: 2rem;
        width: 680px;
        text-align: center;
    }
}

.go-back {
    position: absolute;
    transform: scale(1.5);
}

