<app-header (eventEmitter)="toggleSidenav()" (closeSidenavEmitter)="closeSidenav()"></app-header>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" class="sidenav">
        <ul>
            <!-- <li class="menu-item" (click)="goToPronos()">Pronos</li> -->
            <li class="menu-item" (click)="goToRanking()">Classement</li>
            <li class="menu-item" (click)="goToGroupManagement()">Groupes</li>
            <li class="menu-item" (click)="goToStandings()">Classement Ligues</li>
        </ul>
        <button mat-button (click)="disconnect()">Se déconnecter</button>
    </mat-sidenav>
    
    <mat-sidenav-content class="sidenav-content" [ngClass]="{'loading': loading}" (click)="closeSidenav()">
        <div class="welcome" *ngIf="!dataService.currentUser && !loading">
            <span>Bienvenue sur PronoPlayer !</span>
            <span>Tu peux te connecter via Twitch en cliquant sur le bouton en haut à droite.</span>
        </div>
        <img src="assets/images/login_arrow.png" class="login_arrow">
        <router-outlet *ngIf="!loading"></router-outlet>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>